<div id="access-page-wrapper">
      
      <!-- ACCESS -->  
      <section id="access-section">        
          <!-- RIBBON -->
          <div class="ribbon-wrap">
            <div class="ribbon">
                <div class="ribbon-stitches-top"></div>
                <strong class="ribbon-content"><h1>ACCESS</h1></strong>
                <div class="ribbon-stitches-bottom"></div>
            </div>
          </div>
        
        <div class="container">
        
            <div class="col-md-12" id="access-content"> 
            <!-- map container -->
            <div class="col-sm-7">
             <google-map 
             center="map.center" 
             zoom="map.zoom">
             <marker coords="marker.coords" idkey="marker.id" ></marker>
             </google-map>
                   
            </div> <!-- /map container -->

            <!-- details -->
            <div class="col-sm-5" id="access-sidebar">
                <div class="access-details-wrapper">
                <h3>Contact</h3>
                <a href="http://www.google.co.jp/maps/place/%E3%80%92430-0932+Shizuoka-ken,+Hamamatsu-shi,+Naka-ku,+Sakanamachi,+313%E2%88%9212+%E8%82%B4%E7%94%BA%E3%83%93%E3%83%AB/@34.7065077,137.7287016,17z/data=!3m1!4b1!4m2!3m1!1s0x601ade7ca55d8505:0x17978753c8feaaa0?hl=jp"><p class="text-jp">〒４３０−０９３２静岡県浜松市</p>
                <p class="text-jp">肴町３１３番地１２肴町ﾋﾞﾙＢ１</p></a>
                <div class="contact-wrapper">
                <p class="text-sm">phone/fax: <a href="tel:0534573838">053-457-3838</a></p>
                <p class="text-sm">email: <a href="mailto:creek-hamamatsu@gmail.com">creek-hamamatsu@gmail.com</a></p>
                </div>
                <a href="/reservation"><div class="btn btn-success">ネット予約</div></a>
                </div>
                <div class="access-details-wrapper">
                <h3>Business Hours</h3>
                <p class="text-jp heading">ランチ</p>
                <p class="text-jp">月曜日〜金曜日 １１：３０〜１５：００</p>
                <p class="text-jp heading">ディナー</p>
                <p class="text-jp">月曜日〜日曜日 １８：００〜１：００</p>
                </div>
                 
            </div> <!-- /details -->
          </div>  
      </div> <!-- /container -->
      
  </section> <!-- /ACCESS SECTION -->

      <footer id="footer">
      <div class="container">
        <div class="col-sm-4 footer-col" id="footer-social">
          <h4 class="col-header">CONNECT</h4>
          <a href="http://ja-jp.facebook.com/pages/Casual-Diner-CREEK/172259039646383"><i class="fa fa-facebook fa-3x"></i></a>
          <a href="http://twitter.com/CreekHamamatsu"><i class="fa fa-twitter fa-3x"></i></a>
          <a href="http://plus.google.com/105424183852461862212/about"><i class="fa fa-google-plus fa-3x"></i></a>
        </div>
        <div class="col-sm-4 footer-col">
          <h4 class="col-header">BUSINESS HOURS</h4>
          <h4>Lunch</h4>
          <p class="text-sm">Mon-Fri: 11:30~15:00</p>
          <h4>Dinner</h4>
          <p class="text-sm">Mon-Sun: 18:00~1:00</p>
        </div>
        <div class="col-sm-4 footer-col">
          <h4 class="col-header">ACCESS</h4>
          <a href="http://www.google.co.jp/maps/place/%E3%80%92430-0932+Shizuoka-ken,+Hamamatsu-shi,+Naka-ku,+Sakanamachi,+313%E2%88%9212+%E8%82%B4%E7%94%BA%E3%83%93%E3%83%AB/@34.7065077,137.7287016,17z/data=!3m1!4b1!4m2!3m1!1s0x601ade7ca55d8505:0x17978753c8feaaa0?hl=jp"><p class="text-jp">〒４３０−０９３２静岡県浜松市</p>
          <p class="text-jp">肴町３１３番地１２肴町ビルＢ１</p></a>
          <div class="contact-wrapper">
          <p class="text-sm"><a href="tel:0534573838">053-457-3838</a></p>
          <p class="text-sm"><a href="mailto:creek-hamamatsu@gmail.com">creek-hamamatsu@gmail.com</a></p>
        </div>
        </div>
      </div>  
    </footer>
</div>      