<div id="blog-page-wrapper">    
      <section id="blog-section">
         <div class="container">
          <div class="ribbon-wrap">
            <div class="ribbon">
                <div class="ribbon-stitches-top"></div>
                <strong class="ribbon-content"><h1>CREEK BLOG</h1></strong>
                <div class="ribbon-stitches-bottom"></div>
            </div>
          </div>
         
        <div class="container" id="blog-content">
            <div class="col-sm-7" id="posts-col">
              <div class="loadbox" ng-show="loadingBlog">
                <i class="fa fa-spinner fa-spin"></i>
              </div>             
              <article data-ng-repeat="post in paged" class="folded single-post">
                <h4>{{post.pretty_date}}</h4>
                <a ng-href="{{post.link}}"><h2 class="post-title">{{post.title}}</h2></a>
                <p class="post-meta"><i class="fa fa-user"></i>{{post.author.username}}<i class="fa fa-clock-o"></i>{{post.pretty_time}}</p>
                <div wp-post>
                <p class="content-text" ng-bind-html="content"></p>
                </div>
              </article>
                
            <div class="pagination-wrapper">  
              <div class="btn btn-default"  ng-show="hasPrevPosts" ng-click="nextPage(-1)">前 <i class="fa fa-angle-left"></i></div>              
              <div class="btn btn-default" ng-show="hasNextPosts" ng-click="nextPage(1)">次 <i class="fa fa-angle-right"></i></div>
            </div>
            </div>               
            <aside class="col-sm-4" id="blog-sidebar">
            <h3>LIKE US</h3>
            <div  class="fb-like-box" data-href="https://www.facebook.com/pages/Casual-Diner-CREEK/172259039646383" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
            </aside>                  
            </div> 
        </div> 
      </section>

      <footer id="footer">
      <div class="container">
        <div class="col-sm-4 footer-col" id="footer-social">
          <h4 class="col-header">CONNECT</h4>
          <a href="http://ja-jp.facebook.com/pages/Casual-Diner-CREEK/172259039646383"><i class="fa fa-facebook fa-3x"></i></a>
          <a href="http://twitter.com/CreekHamamatsu"><i class="fa fa-twitter fa-3x"></i></a>
          <a href="http://plus.google.com/105424183852461862212/about"><i class="fa fa-google-plus fa-3x"></i></a>
        </div>
        <div class="col-sm-4 footer-col">
          <h4 class="col-header">BUSINESS HOURS</h4>
          <h4>Lunch</h4>
          <p class="text-sm">Mon-Fri: 11:30~15:00</p>
          <h4>Dinner</h4>
          <p class="text-sm">Mon-Sun: 18:00~1:00</p>
        </div>
        <div class="col-sm-4 footer-col">
          <h4 class="col-header">ACCESS</h4>
          <a href="http://www.google.co.jp/maps/place/%E3%80%92430-0932+Shizuoka-ken,+Hamamatsu-shi,+Naka-ku,+Sakanamachi,+313%E2%88%9212+%E8%82%B4%E7%94%BA%E3%83%93%E3%83%AB/@34.7065077,137.7287016,17z/data=!3m1!4b1!4m2!3m1!1s0x601ade7ca55d8505:0x17978753c8feaaa0?hl=jp"><p class="text-jp">〒４３０−０９３２静岡県浜松市</p>
          <p class="text-jp">肴町３１３番地１２肴町ビルＢ１</p></a>
          <div class="contact-wrapper">
          <p class="text-sm"><a href="tel:0534573838">053-457-3838</a></p>
          <p class="text-sm"><a href="mailto:creek-hamamatsu@gmail.com">creek-hamamatsu@gmail.com</a></p>
        </div>
        </div>
      </div>  
    </footer>
</div>