body, html{
	font-family: 'Josefin Sans';
	height: 100%;
	font-size: 100%;
}

.info-table{
  padding-left: 0px;
  padding-right: 0px;
  font-size: 0.8em;
}

.info-header{
  font-size: 0.8em;
  padding: 15px 0px;
}

.pagination-wrapper{
  padding: 20px 15px;
}

/*social share*/
.share-wrapper{
  margin: 20px 0px 40px 0px;
}
.share-fb span{
    padding: 10px 15px;
    background-color:  #3b5998;
    color: white;
    .fa{
        margin-right: 10px;
    }
}

.share-twitter span{
    padding: 10px 15px;
    background-color:  #00aced;
    color: white;
    .fa{
        margin-right: 10px;
    }
    
}

/*course menu*/

.course-title{  
  text-align: center;
  background-color: #333;
  color: white;
  padding: 15px 0px !important;
}

.header-cell{
  min-width: 120px;
  text-align: center;
  @media (max-width: 480px) {
    min-width: 80px;
      }
}

.course-table{
  font-size: 0.9em;
  @media (max-width: 480px) {
        font-size: 0.8em;
      }
}

.course-button-wrapper{
  margin: 30px 0px;
  text-align: center;
}
/*LARGE SCREEN NAVIGATION*/
#main-nav{ 
  position: fixed;
  height: 90px;
  width: 100%;
  background-color: white;
  z-index: 99999;
  margin-bottom: 0;
    #nav-logo{
      img{
        margin-top: 15px;
        height: 60px;
      }
      #header-details{
        padding-top:15px;
        display: inline;
        background-color: pink;
      }
    }
    #nav-items{
      text-align: center;
    }
    .nav-item{
      font-weight: 600;
      a{
        color: #03451e;
        text-decoration: none;
      }

      a:hover{
        color: red;
        .fa{
          color:darkgray;
        }
       
      }

      .menu-icon{
        height: 50px;
        line-height: 50px;
        color: lightgray;
        font-size: 1.5em;
        padding-top: 8px;
      }

      .menu-label{
        font-size: 1.2em;
        padding-top: 5px;
      }
    }
}


/*HOMEPAGE STYLES*/

.page-wrapper{
  height: 100%;
}

#homepage-header{
  background: url(images/caliroll_lo.jpg) bottom no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 5em;
  font-weight: 700;
  color: white;
  padding-top: 25%;
  @media (max-width: 480px) {
        font-size: 3em;
        padding-top: 40%;
      }

}

#menu-section{
  background: url(images/paper-bg.jpg) center repeat;
  padding-bottom: 200px;
  
  @media (max-width: 480px) {
      padding-bottom:50px; 

  }
} 

#menuhp{
    margin-top: 50px;
    padding: 60px 0px;
    background-color: white;
    	.menu-title{
    		text-align: center;
    		padding: 25px 0px;
        &.last{
          margin-top: 50px;
          h3{
              font-size: 1.4em;
            @media (max-width: 480px) {
              font-size: 1em;

            }

          }
          a {
            text-decoration: none;
            color: darkgreen;
          }
        }
    	}
    	
      *, *:after, *:before {
      	box-sizing: border-box;
      	-moz-box-sizing: border-box;
    	}
    	
    	*{	margin:0;
    		padding:0;
    		border: 0 none;
    		position: relative;
    	}
    	
    p {
      background: inherit;
      width: 70%;
      max-width: 40rem;
      min-width: 300px;
      margin: 0 auto;
      font-size: 1.2rem;
      line-height: 1.5rem;
      color: #333;
      padding-right: 4rem;
      margin-bottom: .5rem;

      @media (max-width: 480px) {
        background: none;
        padding-left: 15px;

      }

    }
    p::before {
      content: '';
      position: absolute;
      bottom: .4rem;
      width: 100%;
      height: 0;
      line-height: 0;
      border-bottom: 2px dotted #ddd;

      @media (max-width: 480px) {
        width: 70%;
        border-bottom: none;
      }
    }
    .desc {
      background: inherit;
      display: inline;
      z-index: 1;
      padding-right: .2rem;
      font-size: 0.7em;
      color: darkgray;
    }
    .price {
      background: inherit;
      position: absolute;
      min-width: 4rem;
      bottom: 0;
      right: 0;
      padding-left: .2rem;
      text-align: right;
      z-index: 2;
        @media (max-width: 480px) {
        right: 20px;
      }
    }
    .price:after {
      content: '￥';
    }

}

.text-sm{
font-size: 1.1em;
}

.text-jp{
  font-size: 0.9em;
  margin-bottom: 5px;
}

.contact-wrapper{
  margin-top: 20px;
  margin-bottom: 10px;
}

.english-desc{
  display: block;
  border-bottom: none;
  margin-bottom: 5px !important;
  margin-top: 15px !important;
   @media (max-width: 480px) {
    margin-top: 40px !important;

  }
}



/*INFORMATION SECTION*/
.information-section{
  padding-bottom: 200px; 
  .btn{
    min-width: 100px;
  }
  @media (max-width: 480px) {
      padding-bottom:50px; 

  }
}   

.link-image-wrapper{
	text-align: center;
	height: 500px;
	overflow: hidden;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  @media (max-width: 480px) {
      height: 300px; 

  }
}

.link-reservation{
	background: url(images/menu.jpg) center no-repeat;
	background-size: cover;
}

.link-event{
	background: url(images/info.jpg) center no-repeat;
	background-size: cover;

}

.link-birthday{
	background: url(images/birthday.jpg) center no-repeat;
	background-size: cover;

}

.overflow-wrap{
	height: 500px;
	overflow: hidden;
   @media (max-width: 480px) {
      height: 300px; 

  }
}

.link-image-wrapper:hover{
	height: 600px;
	 -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
     -o-transition: all 1s ease;
     -ms-transition: all 1s ease;
     transition: all 1s ease;

 
}

.link-info{
	text-align: center;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
    padding-left: 0px;
    padding-right: 0px;
}

.container-center{
  margin-top: 50px;
  text-align: center;
}

.sub-text{
  min-height: 80px;
}

/*FOOTER*/
#footer{
  a{
    color: white;
  }
  a:hover{
    color:#428bca;
  }
  p{
    font-weight: 300;
  }
	padding: 40px 0px 60px 0px;
	background-color: #333;
	color: white;
	
  .col-header{
    margin-bottom: 35px;
  }
		.footer-col{
			text-align: center;

      @media (max-width: 480px) {
        margin-bottom: 30px;
      }
			.fa{
				margin: 0px 20px;
        padding-top: 30px;
			}
		}

		h3{
			font-weight: 200;
			margin-bottom: 35px;
		}

     @media (max-width: 480px) {
        #footer-social{
          display: none;
        }
      }

}



/*MENU PAGE STYLES*/
#menu-page-wrapper{
  background: url(images/menu-bg.jpg) center no-repeat;
  background-size: cover;
  padding-top: 100px;
  #menuhp{
    padding-bottom: 150px;
  
    .menu-title{
      padding:50px 0;
    }
  }
  @media (max-width: 480px) {
    padding-top: 0px;
  }

  #menu-page-section{
  background-color: transparent;
  position: relative;
  padding-bottom: 200px;
  @media (max-width: 480px) {
      padding-bottom:100px; 

  }  
} 
 
}

/*BLOG PAGE STYLES*/

#blog-page-wrapper{
  background: url(images/Dollarphotoclub_63163426_lo.jpg) center no-repeat;
  background-size: cover;
  padding-top: 100px;
  .post-meta{
      color: gray;
      padding: 10px 0px;
      .fa-user{
        margin-right: 10px;
      }

      .fa-clock-o{
        margin-left: 10px;
        margin-right: 10px;
      }

  }
  
  .comments{
  
  h3{
    padding: 20px;
  }

  }

    @media (max-width: 480px) {
    padding-top: 0px;
  }
  #blog-content{
  margin-bottom: 200px;
  margin-top: 50px;
  .content-text{
      font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
      font-size: 0.8em;
  }
    @media (max-width: 480px) {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 100px;
      }
  #posts-col{
    background-color: white;
  }
} 
 article{
  position: relative;
  border-bottom: solid 1px lightgray;
  a{
    color:#333;
  }
  img{
    margin-top: 20px;
    margin-bottom: 20px;
  }
 }
.single-post{
  padding: 20px;
  .post-title{
    font-size: 1.3em;
    padding-top: 20px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    
     @media (max-width: 480px) {
        font-size: 1em;
      }
  
  }
  @media (max-width: 480px) {
        padding: 10px;
      }
}
}

#blog-sidebar{
  margin-left: 20px;
  background-color: white;
  padding-top: 15px;
   @media (max-width: 480px) {
      margin-left:0px; 
      padding-top: 0px;
      display: none;

  }
}

.folded:before, .folded:after {
    bottom: 26px;
    box-shadow: 0 28px 8px rgba(0,0,0,0.5);
    content: "";
    height: 28px;
    position: absolute;
    width: 48%;
    z-index: -1;
}
.folded:before {
    left: 2%;
    transform: rotate(-3deg);
}
.folded:after {
    right: 2%;
    transform: rotate(3deg);
}
.folded h4{
    border-width: 1px 1px 2px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
    margin: 0;
    padding: 4px 40px;
    position: absolute;
    right: -28px;
    top: 30px;
    background: -webkit-linear-gradient(top, #d64b4b, #ab2c2c);
    background: -moz-linear-gradient(top, #d64b4b, #ab2c2c);

    color: white;
    @media (max-width: 480px) {
      top:5px;
    }
}
.folded h4:after {
    border-width: 7px;
    border-style: solid;
    border-color: #ab2c2c transparent transparent #ab2c2c;
    bottom: -15px;
    content: "";
    position: absolute;
    right: -1px;
}

/*ACCESS*/

#access-page-wrapper{
  background: url(images/Dollarphotoclub_63163290_lo.jpg) center no-repeat;
  background-size: cover;
  padding-top: 100px;
    @media (max-width: 480px) {
    padding-top: 0px !important;
  }
   @media (max-width: 480px) {
      background:none; 
      padding-top: 50px;

  }
  #access-content{
  position: relative;  
  margin-bottom: 200px;
  margin-top: 50px;
  background-color: white;
  padding: 50px;
  a{
    color: #333;
  }
  @media (max-width: 480px) {
      padding: 0px;
      margin-bottom: 100px;

  }

  }
  #access-sidebar{
    text-align: center;
    .access-details-wrapper{
      .heading{
        margin: 10px 0px 20px 0px;
        font-weight: 700;
      }
      h3{
        margin-top: 0px;
        margin-bottom: 30px;
        } 
      margin-bottom: 50px;
      .btn{
        margin-top: 30px;
      }
      
       @media (max-width: 480px) {
      margin-top:50px; 

      }


    }
  }
}
/*RESERVATIONS PAGE*/

#reserve-page-wrapper{
  background: url(images/burgs_lo.jpg) center no-repeat;
  background-size: cover;
  padding-top: 100px;
  .input-lg{
    font-size: 1em;
  }
  
  @media (max-width: 480px) {
      background:none; 
      padding-top: 0px;

  }

  #reserve-content{
  position: relative;
  margin-bottom: 200px;
  margin-top: 50px;
  background-color: white;
  padding:50px;
  @media (max-width: 480px) {
        padding: 10px;
      }
  }
  #form-wrapper{
    text-align: center;
    .has-feedback .form-control-feedback{
      top:0;
      color: darkgray;
      line-height: 45px;
    }

    .fa{
      line-height: inherit;
    }
    
    .form-control[disabled], .form-control[readonly], fieldset[disabled]{
      cursor: pointer;
      background-color: white;
    }
    
    #date{
      padding-left: 0px;
      @media (max-width: 480px) {
        padding-right: 0px;
      }
    }

    #time{
      padding-right: 0px;
      @media (max-width: 480px) {
        padding-left: 0px;
      }
    }

  }
  
}

/*EVENT PAGE*/

#event-page-wrapper{
  background: url(images/shrimp.jpg) center no-repeat;
  background-size: cover;
  padding-top: 100px;
    @media (max-width: 480px) {
    padding-top: 0px;
  }
  #event-content{
  background-color: white;
  margin-bottom: 200px;
  margin-top: 50px;
  padding: 50px;
  @media (max-width: 480px) {
      padding:15px;
      margin-bottom: 100px;
    }

   .img-responsive{
    margin-bottom: 40px;
   } 

} 

.info-intro{
  font-size: 0.8em;
  margin: 40px 0px;
}

.event-row{
  margin-bottom: 50px;
  
  @media (max-width: 480px) {
      
        margin-bottom: 0px;

        .col-md-8{
          padding-left: 0px;
          padding-right: 0px;
        }
      
  }
}

.image-wrapper{
  padding-left: 0px;
  padding-right: 0px;
  @media (max-width: 480px) {
      .col-sm-3{
        margin-bottom: 25px;
      }
  }

}
}


/*COMPONENT STYLES*/

/*PLACEHOLDER IMAGES*/


/*RIBBON*/

#send-btn{
  margin-top: 40px;
}
.ribbon-wrap{
padding: 100px 0px;
position: relative;
z-index: 999;

}

.ribbon {
   left: 0;
   right: 0;
   margin-left: auto;
   margin-right: auto;
   width: 379px;
   position: absolute;
   text-align: center;
   font-size: 20px!important;
   background: #d64b4b;
   background: -webkit-gradient(linear, left top, left bottom, from(#d64b4b), to(#ab2c2c));
   background: -webkit-linear-gradient(top, #d64b4b, #ab2c2c);
   background: -moz-linear-gradient(top, #d64b4b, #ab2c2c);
   background: -ms-linear-gradient(top, #d64b4b, #ab2c2c);
   background: -o-linear-gradient(top, #d64b4b, #ab2c2c);
   background-image: -ms-linear-gradient(top, #d64b4b 0%, #ab2c2c 100%);
   -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   box-shadow: rgba(000,000,000,0.3) 0 1px 1px;

   }
.ribbon h1 {
   font-size: 21px!important;
   color: white;
   text-shadow: #d65c5c 0 1px 0;
   margin:0px;
   padding: 15px 10px;
   }
.ribbon:before, .ribbon:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -1em;
   border: 1.5em solid #c23a3a;
   z-index: -1;
   }
.ribbon:before {
   left: -2em;
   border-right-width: 1.5em;
   border-left-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;

   }
.ribbon:after {
   right: -2em;
   border-left-width: 1.5em;
   border-right-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   }
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
   border-color: #871616 transparent transparent transparent;
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';

   }
.ribbon .ribbon-content:before {
   left: 0;
   border-width: 1em 0 0 1em;

   }
.ribbon .ribbon-content:after {
   right: 0;
   border-width: 1em 1em 0 0;
   }
.ribbon-stitches-top {
   margin-top:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
   }
.ribbon-stitches-bottom {
   margin-bottom:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
   }
/*SMALL SCREENS NAV*/
.slicknav_menu {
  display:none;
}
.slicknav_nav{
  text-align: center;
}

.slicknav_nav li{
  padding: 5px 0px;
  border-bottom: 1px dashed lightgray;
}

.slicknav_nav a{
  color: #333 !important;
}
 #menu {
    display:none;
  }

 #mobile-nav{
  display: none;
  color:deeppink;
  #mobile-logo{
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 2em;
    .logo-sm{
      background: url('images/logo_sm@x1.png');
      height: 40px;
      width: 100px;
      @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
         background: url('images/logo_sm@x2.png') no-repeat;
         background-size: 100px 40px;
      }

    }
    
  }
 } 

.view{
  height: 100%;
}
.row{
  margin-left: 0px;
  margin-right: 0px;
}
.loadbox{
  height: 400px;
  color: lightgray;
  text-align: center;
  padding-top: 100px;
  .fa{
    font-size: 3em;
  }
}

.angular-google-map-container { height: 500px; }
iframe{
  display: block;
  width: 100% !important;
  height: 350px;
  @media (max-width: 480px) {
        height: 200px;
      }
}
div[ng-view].ng-enter{

    /*-webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;*/
     
}

div[ng-view].ng-leave{

   /* -webkit-animation: tada 0.5s;
    animation: tada 0.5s;*/
   
}


.shad:before, .shad:after {
    bottom: 26px;
    box-shadow: 0 28px 8px rgba(0,0,0,0.5);
    content: "";
    height: 28px;
    position: absolute;
    width: 48%;
    z-index: -1;
}
.shad:before {
    left: 2%;
    transform: rotate(-3deg);
}
.shad:after {
    right: 2%;
    transform: rotate(3deg);
}

@media (max-width: 770px) {

  .link-image-wrapper:hover{
  height: 500px;
   -webkit-transition: none;
     -moz-transition: none;
     -o-transition: none;
     -ms-transition: none;
     transition: none;
}
	
	#main-nav{
    display: none;
  }
 #mobile-nav{
  display: block;
 } 
 .slicknav_menu {
    display:block;
    background-color: #fff!important;
  }

  .col-centered{
    margin: 25px 0px;
    padding: 15px;
  }

/*RIBBON*/
.ribbon {
   width: 192px;
   position: absolute;
   text-align: center;
   font-size: 20px!important;
   background: #d64b4b;
   background: -webkit-gradient(linear, left top, left bottom, from(#d64b4b), to(#ab2c2c));
   background: -webkit-linear-gradient(top, #d64b4b, #ab2c2c);
   background: -moz-linear-gradient(top, #d64b4b, #ab2c2c);
   background: -ms-linear-gradient(top, #d64b4b, #ab2c2c);
   background: -o-linear-gradient(top, #d64b4b, #ab2c2c);
   background-image: -ms-linear-gradient(top, #d64b4b 0%, #ab2c2c 100%);
   -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   box-shadow: rgba(000,000,000,0.3) 0 1px 1px;

   }
.ribbon h1 {
   font-size: 0.8em!important;
   text-shadow: #d65c5c 0 1px 0;
   margin:0px;
   padding: 15px 10px;
   }
.ribbon:before, .ribbon:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -1em;
   border: 1.5em solid #c23a3a;
   z-index: -1;
   }
.ribbon:before {
   left: -2em;
   border-right-width: 1.5em;
   border-left-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   }
.ribbon:after {
   right: -2em;
   border-left-width: 1.5em;
   border-right-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   }
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
   border-color: #871616 transparent transparent transparent;
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';
   }
.ribbon .ribbon-content:before {
   left: 0;
   border-width: 1em 0 0 1em;
   }
.ribbon .ribbon-content:after {
   right: 0;
   border-width: 1em 1em 0 0;
   }
.ribbon-stitches-top {
   margin-top:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
   }
.ribbon-stitches-bottom {
   margin-bottom:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
   }

}
@media (min-width: 992px){
  .container{
    width:95%;
  }
}

@media (min-width: 1200px){
  .container{
    width: 95%;
  }
}